.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.dSYM.json
*.xccheckout
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/
xcuserdata/

# Swift Package
.swiftpm/

# Carthage
Carthage/Build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Misc
*.log

# Vim
*.swp
*.swo
*.swn
*.swx
